DB_USER=wikijs
DB_PASS=
DB_NAME=wikijs
VLAN11_IP=192.168.11.10
DOMAIN=home.example.com
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
N8N_ENCRYPTION_KEY=
PAPERLESS_DB_USER=
PAPERLESS_DB_PASS=
PAPERLESS_SECRET_KEY=
LINKWARDEN_DB_USER=
LINKWARDEN_DB_PASS=
LINKWARDEN_SECRET=
